/*---------------------------------------INTERACCION--------------------------------------*/
.interaccion{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    color: white;
    background-color: teal;
    padding: 2rem 4rem;
    border-radius: 6px;
    font-size: 2em;
    cursor: pointer;
}

.boton:active{
    border-top:1px solid whitesmoke;
    border-left:1px solid whitesmoke;
}


/*---------------------------------------CONTAINER GRID----------------------------------------*/
.container{
    background-color: #333;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: .3fr .4fr 5fr 1fr;              /*poner la ultima linea a 100px*/
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "gallery"
        "footer"
    ;
}

/*------------------------------------AREAS DEL GRID-----------------------------------------*/

/*HEADER*/
.header{
    grid-area: header;
}

/*MENU*/
.menu{
    grid-area: nav;
}


/*GALLERY*/
.indexGallery{
    grid-area: gallery;
    display: flex;
    justify-content: center;
}

.indexGallery__link{
    display: flex;
    width: 50%;
}

.indexGallery__article{
    width: 100%;
}

.indexGallery__article--pokemon{
    background-image: url(../images/pokemon_index_fondo.jpg);
    background-size: 100%;
    background-position: center;
    opacity: .5;
}

.indexGallery__article--pokemon:hover{
    background-size: 110%;
    opacity: 1;
    transition: background-size 2s,opacity 2s;
}


.indexGallery__article--perros{
    background-image: url(../images/perro_index_fondo.jpg);
    background-size: 130%;
    background-position: center;
    opacity: .5;
}

.indexGallery__article--perros:hover{
    background-size: 140%;
    opacity: 1;
    transition: background-size 2s,opacity 2s;
}


/*FOOTER*/
.footer{
    grid-area: footer;
}


/*----------------------------------------------MEDIA--------------------------------------------------------*/



@media (min-width:1280px){

    /*FOTOS DE LA GALERIA*/
    .indexGallery__article--perros{
        background-size: 160%;
    }

    .indexGallery__article--perros:hover{
        background-size: 170%;
    }

    .indexGallery__article--pokemon{
        background-size: 120%;
    }

    .indexGallery__article--pokemon:hover{
        background-size: 130%;
    }

}

@media (min-width:1920px){

    /*FOTOS DE LA GALERIA*/
    .indexGallery__article--perros{
        background-size: 130%;
    }

    .indexGallery__article--perros:hover{
        background-size: 140%;
    }

    .indexGallery__article--pokemon{
        background-size: 120%;
    }

    .indexGallery__article--pokemon:hover{
        background-size: 130%;
    }

}


@media (min-width:2560px){

    /*HEADER Y MENU*/
    .header{
        font-size: 2em;
    }

    .menu{
        font-size: 1.8em;
    }

    /*FOTOS DE LA GALERIA*/
    .indexGallery__article--perros{
        background-size: 150%;
    }

    .indexGallery__article--perros:hover{
        background-size: 160%;
    }
    
    /*FOOTER*/
    .footer{
        font-size: 1.55em;
    }

}