@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/*--------------------------------------CONTAINER GRID-------------------------*/
.container{
    width: 100%;
    background-color: #333;
    display: grid;
    grid-template-rows: 8vh 5vh 87vh 84vh 16vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "gallery"
        "view"
        "footer"
    ;
}


/*------------------------------------AREAS DEL GRID----------------------------------*/

/*HEADER*/
.header{
    grid-area: header;
}


/*MENU*/
.menu{
    grid-area: nav;
}


/*GALERIA*/
.gallery{
    grid-area: gallery;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__item{
    width: 24.6vw;
    height: 29vh;
    border: 1px solid transparent;
    background-position: center;
    background-size: cover;
}

.gallery__item:hover{
    border: 1px solid white;
}


/*VIEW*/
.view{
    grid-area: view;
    display: grid;
    grid-template-rows: 34vh 50vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "titulo image"
        "text nada"
    ;
    background: url(../images/geometric-leaves.png);
    border-radius: 80px;
    width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.view__titleContainer{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/flor.png);
    background-repeat: no-repeat;
    background-size: 15%;
    border-radius: inherit;
}

.view__title{
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

.view__imageContainer{
    grid-area: image;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.view__textContainer{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.view__text{
    margin-left: 20%;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;

}


/*FOOTER*/
.footer{
    grid-area: footer;
}


/*--------------------------------------------MEDIA--------------------------------------*/

@media (min-width:1280px){
    
    /*HEADER Y MENU*/


    
    /*TARJETA DE PERRO*/
    .view__title{
        padding-left: 30%;
    }

    .view__text{
        font-size: 1.7em;
    }

    /*FOOTER*/
    .footer{
        font-size: .8em;
    }
}

@media (min-width:1910px){
    
    /*HEADER Y MENU*/
    .header{
        font-size: 1.5em;
    }

    .menu{
        font-size: 1.4em;
    }

    /*TARJETA DEL PERRO*/
    .view__title{
        font-size: 6em;
    }

    .view__text{
        font-size: 2.5em;
    }


    /*FOOTER*/
    .footer{
        font-size: 1.15em;
    }
}
@media (min-width:2560px){

    /*HEADER Y MENU*/
    .header{
        font-size: 2em;
    }

    .menu{
        font-size: 1.8em;
    }

    /*TARJETA DEL PERRO*/
    .view__title{
        font-size: 8em;
    }

    .view__text{
        font-size: 4em;
    }


    /*FOOTER*/
    .footer{
        font-size: 1.55em;
    }


}